@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global overrides */
body {
  @apply bg-[#151515] text-[#f2f2f2] font-sans p-10; /* padding: 40px */
}

* {
  box-sizing: border-box;
}